/.git
/.github
/.husky
/.vscode
/build
/coverage
/node_modules
/scripts
/src
/tests
*.ignore
*.sh
.editorconfig
.eslintignore
.eslintrc.js
.madgerc
.prettierignore
SECURITY.md
_*.txt
jest.config.js
package-lock.json
prettier.config.js
rollup.*.js
tsconfig.json
.gitattributes